.colorSelectorRectContainer {
	width: 100%;
	height: 8em;
	box-shadow: .2rem .2rem .4rem 0 rgba(80,80,80,.8);
	border-radius: 3px;
	border: 1px solid #AAA;
	margin: 0 -1px;
	cursor: crosshair;
}

.colorSelectorRectContainer.mousedown {
	cursor: none;
}

.colorSelectorRectContainer * {
	border-radius: inherit;
}

.colorSelectorSlider {
	margin: 1.3em -1px 0;
	width: 100%;
	height: 1.75em;
	cursor: pointer;
	position: relative;
	box-shadow: .2rem .2rem .4rem 0 rgba(80,80,80,.8);
	border: 1px solid #AAA;
	border-radius: 3px;
}

.colorSelectorDisplay {
	width: 100%;
	height: 1.75em;
	box-shadow: .2rem .2rem .4rem 0 rgba(80,80,80,.8);
	border: 1px solid #AAA;
	border-radius: 3px;
	margin: 0 -1px .7em;
}

.colorSelectorIndicator {
	height: 10px;
	width: 10px;
	border: 1px solid white;
	border-radius: 50%;
	margin: -6px 0 0 -6px;
	pointer-events: none;
}

.colorSelectorSliderIndicator {
	width: 0;
	height: 0;
	border-left: .3em solid transparent;
	border-right: .3em solid transparent;
	border-bottom: .6em solid #000;
	margin-left: -.3em;
	position: absolute;
	top: 1.75em;
}

.colorSelectorSliderExtender {
	height: .8em;
}

.colorSelectorSlider:last-child {
	margin-bottom: .3em;
}

.colorSelectorInput {
	margin: 0 -1px 2rem;
	width: 100%;
	font-size: .9rem;
	font-family: Consolas,Monaco,"Ubuntu Mono","Courier New",Courier,monospace;
	text-align: center;
	border: 1px solid #AAA;
	box-shadow: .2rem .2rem .4rem 0 rgba(80,80,80,.8);
	padding: .3rem 0;
	border-radius: 3px;
	background: transparent;
}

.colorSelectorInput:hover, .colorSelectorInput:focus {
	border-color: #00acc1;
	box-shadow: .2rem .2rem .4rem 0 rgba(0,172,193,.8);
}

.colorSelectorTranslatedDisplay {
	color: #777;
	font-style: italic;
	font-size: 75%;
}