#id1 {
	width: calc(100% - 2em);
	height: 40vh;
	background: #FFF;
	border: 1em dashed #00acc1;
	display: table;
	table-layout: fixed;
	margin-bottom: .75em;
}

#id1.active {
	border-color: #008ca1;
}

#id1.active #id4 {
	color: #008ca1;
}

#id2 {
	margin-top: 2.5em;
	cursor: pointer;
}

#id3 {
	font-size: 10vh;
	display: block;
}

#id5 {
	font-size: 7vh;
	font-family: "BPreplay", Arial, sans-serif;
	font-style: italic;
	font-weight: 700;
}

#id4 {
	height: 100%;
	width: 100%;
	vertical-align: middle;
	display: table-cell;
	color: #00acc1;
	font-family: "BPreplay", Arial, sans-serif;
	font-style: italic;
	font-weight: 700;
	pointer-events: none;
}

#id6 {
	font-family: Arial, sans-serif;
	height: 100%;
	text-align: left;
	font-style: normal;
	font-weight: normal;
}

#id7 {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: normal;
	padding: 2.5vh;
	font-size: 3.5vh;
	color: #000;
	font-weight: 600;
	border: 1vh solid #FFF;
	border-radius: 3vh;
}

#id8 {
	font-size: 5vh;
	color:#00acc1;
	font-family: "BPreplay", Arial, sans-serif;
	font-weight: 700;
	font-style: italic;
	display: block;
	margin: 5vh 1em;
	line-height: 1.3;
	text-align: center;
}

#ida {
	
}

#idc {
	text-align: center;
	cursor: text;
}

#ide {
	padding: 0;
	height: calc(75vh - 4.4em - 1px);
	width: calc(100% - 1em);
}

#idf {
	height: calc(75vh - 8.9em - 1px);
	width: calc(100% - 3.5em);
	margin: 0;
	padding: .75em 1.75em;
	border: 0;
	resize: none;
	tab-size: 4;
}

#idi, #idu {
	table-layout: fixed;
	width: 100%;
}

#idk, #idw {
	opacity: 0;
	position: absolute;
	top: 0;
	pointer-events: none;
}

#idm {
	table-layout: fixed;
	width: 100%;
	margin-top: 2em;
	border-collapse: collapse;
}

#idm td {
	position: relative;
	cursor: pointer;
	padding-top: .4em;
}

#idm td:hover {
	background: rgba(0,0,0,.15);
}

#idm td:hover .cl9 {
	display: block;
}

#idy {
	width: 100vw;
	height: 100vh;
	-webkit-transform: scale(.4);
	transform: scale(.4);
	-webkit-transform-origin: bottom center;
	transform-origin: bottom center;
	margin: -60vh -30vw 0;
	border: 0;
}

#idA, #Ida {
	width: calc(40vw - 3.6rem);
	font-size: 1em;
	text-align: center;
	font-family: Arial, sans-serif;
	margin: .25em -1px .75em;
	border: 1px solid #AAA;
}

#idA:hover, #idA:focus, #Ida:hover, #Ida:focus {
	box-shadow: 0 0 5px 2px rgba(0, 172, 193, .4);
	border: 1px solid #00acc1;
}

#idC {
	width: 100%;
}

#idC tr:first-child {
	font-size: calc((50vw - 4.5em) / 3 / 4.5);
}

#idC tr:nth-child(3) {
	font-size: calc((50vw - 4.5em) / 3 / 8);
}

#idC tr:nth-child(3) td {
	padding: .3em 0 0 0
}

#idE {
	text-align: justify;
	font-size: .95em;
}

#idF {
	table-layout: fixed;
	width: 100%;
}

#idF tr:not(:first-child) td {
	text-align: left;
	font-size: 95%;
}

#idF td:not(#idG) {
	padding: .2em 0 .2em 2em;
}

#idF h1 {
	font-family: "Roboto Slab", "Open Sans", Arial, sans-serif;
}

#idG {
	width: 40%;
}

#idG img {
	width: 80%;
}

#idW {
	display: none;
}

#idX {
	cursor: initial;
}

#idY, #idZ, #Idb {
	font-family: Arial, sans-serif;
	background: #F5F5F5;
	color: #456;
	padding: .3em 1em;
	border: 1px solid #AAA;
	border-radius: .3em;
	font-size: 1.2em;
	cursor: pointer;
}

#idY:hover, #idZ:hover, #Idb:hover,
#idY:focus, #idZ:focus, #Idb:focus {
	background: #00acc1;
	color: #FFF;
}

#idZ {
	background: #F0F0F0;
	color: #AAA;
	pointer-events: none;
}

#Ida {
	display: block;
	margin: 0 auto 1.2em;
}

#Ide {
	margin: .5em -1px 2em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: #F5F5F5;
	color: #456;
	border-radius: .3em;
	border: 1px solid #AAA;
	box-shadow: .2rem .2rem .4rem 0 rgba(80,80,80,.8);
	padding: .3em;
}

#Ide div {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding: .3em;
	border-radius: .3em;
	cursor: pointer;
}

#Ide div.active {
	background: #00acc1;
	color: #fff;
	pointer-events: none;
}

#Ide div:hover, #ide div:focus {
	background: #E5E5E5;
}

#Ide div:first-child {
	margin-right: .3em;
}

#Idg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#Idi {
	border: 1px solid #000;
	display: inline-block;
	box-shadow: .2rem .2rem .4rem 0 rgba(80,80,80,.8);
	margin-top: 2em;
}

.cl9 {
	position: absolute;
	right: .2em;
	top: .2em;
	width: 1.2em;
	height: 1.2em;
	background: #FFF url("../svg/exit.svg") 50% 50%/70% 70% no-repeat;
	border: 1px solid #AAA;
	margin: -1px;
	border-radius: .3em;
	display: none;
}

.cl9:hover, #idD:hover {
	background-color: #EEE;
}

.cl1 {
	float:left;
}

.cl2 {
	float: right;
}

.cl3 {
	background: #F2F2F2;
	border: 0;
	padding: .3rem .6rem;
	font-size: 1.1em;
	border-radius: .4em;
	width: calc(100% - 1.4rem);
	margin-bottom: .5rem;
	font-family: Consolas,Monaco,"Ubuntu Mono","Courier New",Courier,monospace;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
	-webkit-transition: .15s box-shadow;
	transition: .15s box-shadow;
}

.cl3:focus {
	box-shadow: 0 2px 5px 2px rgba(0,0,0,.3);
}

.cl5 {
	display: inline-block;
	border: 1px solid black;
	line-height: 0;
	box-shadow: .2rem .2rem .4rem 0 rgba(80,80,80,.8);
}

.cl5 iframe {
	height: 100vh;
	width: 100vw;
	-webkit-transform: scale(.161419);
	transform: scale(.161419);
	margin: -83.8581vh calc(-41.92905vw + 1px) 0 -41.92905vw;
	border: 0;
	-webkit-transform-origin: bottom center;
	transform-origin: bottom center;
}

.cl6 {
	margin: .75em 0 .35em;
	font-family: "Open Sans", Arial, sans-serif;
}

.clf, .clh, #idX, #idV {
	width: 100%;
	font-size: 1em;
	padding: .2em 0;
	font-family: Consolas,Monaco,"Ubuntu Mono","Courier New",Courier,monospace;
	color: #456;
	background: #F5F5F5;
	margin: -1px 1px .3em;
	border: 1px solid #AAA;
	cursor: pointer;
	border-radius: .3em;
	text-align: center;
}

#idX {
	cursor: initial;
}

.clf:hover:not(.clg), .clf:focus:not(.clg) {
	background: #E5E5E5;
}

.clf.clg, #idV {
	background: #00acc1;
	color: #fff;
}

.clh {
	background: #F5F5F5;
}

.cli {
	height: 3.5em;
	width: 100%;
	background: url("../svg/transparency_back.svg") 0px 0px / auto 50%;
	box-shadow: .2rem .2rem .4rem 0 rgba(80,80,80.8);
	border: 1px solid #AAA;
	margin: .5em -1px 0;
	border-radius: 3px;
	display: table;
	position: relative;
}

.cli > * {
	display: table-cell;
	vertical-align: middle;
}

html-entity-replacer,
html-element-replacer {
	display: inline;
	pointer-events: initial;
	cursor: pointer;
}

#dialog_about .content a, #dialog_license .content a {
	color: #00acc1;
	text-decoration: none;
}

#dialog_about .content a:hover, #dialog_license .content a {
	text-decoration: underline;
}

.rectX, .rectY {
	position: absolute;
	border: 1px dashed black;
	margin: -1px 0 0 -1px;
}

.rectX {
	width: calc(100% - 4px);
	height: 0;
	padding: 0 2px;
	border-left: 0;
	border-right: 0;
}

.rectY {
	width: 0;
	height: calc(100% - 4px);
	padding: 2px 0;
	border-top: 0;
	border-bottom: 0;
}

.rectXT, .rectYT {
	position: absolute;
	font-family: Consolas,Monaco,"Ubuntu Mono","Courier New",Courier,monospace;
	background: #234;
	color: #DDD;
	font-size: 85%;
	box-shadow: 0 0 3px 1px rgba(0,0,0,.7);
	padding: 2px 6px;
	z-index: 1;
	border-radius: 3px;
}

.rectXT {
	-webkit-transform: translate(-50%, 1px);
	transform: translate(-50%, 1px);
	margin-top: 2px;
}

.rectYT {
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
	margin-left: -2px;
}

.rectTU {
	color: #F55;
}

label, label input[type=checkbox] {
	cursor: pointer;
}

.dialog_resizer_left, .dialog_resizer_right {
	top: -1px;
	position: absolute;
	height: 100%;
	width: .5em;
	cursor: ew-resize;
	border: 1px solid transparent;
}

.dialog_resizer_left {
	left: -1px;
	border-bottom-left-radius: .6em;
	border-top-left-radius: .6em;
	border-right-width: 0;
}

.dialog_resizer_right {
	left: calc(50vw - .5em);
	border-bottom-right-radius: .6em;
	border-top-right-radius: .6em;
	border-left-width: 0;
}

.cursorgrab[data-draggable-element-being-dragged="1"] {
	cursor: -webkit-grabbing !important;
	cursor: grabbing !important;
}
