.topText {
	opacity: 0;
	pointer-events: none;
	left: 7vw;
	box-shadow: 0 0 0 0 #00acc1;
}

.topText:not(.active) * {
	display: none;
}

.topText.active {
	opacity: 1;
	pointer-events: initial;
	transition: box-shadow 1.0s ease-out;
	box-shadow: 0 0 20px 20px rgba(0, 172, 193, 0);
}

.topText input {
	border: 1px solid #AAA;
	font-size: initial;
	font-family: Consolas,Monaco,"Ubuntu Mono","Courier New",Courier,monospace;
	border-radius: .2em;
	padding: .2em .4em;
}

.topText span {
	font-size: 1.05rem;
	font-family: Arial,sans-serif;
	font-weight: bold;
}

.cle {
	background: #FFF url("../svg/exit.svg") 50% 50%/70% 70% no-repeat;
	height: 1.2rem;
	width: 1.2rem;
	display: inline-block;
	cursor: pointer;
	border: 1px solid #AAA;
	border-radius: .3rem;
	vertical-align: bottom;
	position: relative;
	top: -.3rem;
	margin-left: .6rem;
}

.cle:hover {
	background-color: #EEE;
}

.topText span + .cle {
	top: 0;
}
